.layout{
    display: flex;
}

.card{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    border-radius: .25rem;

}

.city_card {
    margin: 0 auto;
    margin-top: 5%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
}

.card-background__summary{
    padding: 1%;
    margin-bottom: 2%;
    background-color: whitesmoke;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .2);
    border-radius: .25rem;
}
.card-layout__summary{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}



th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: s-resize;
    background-repeat: no-repeat;
    background-position: 3% center;
  }
  td,
  th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }